@font-face { font-family: 'Noto Regular'; src: url('../fonts/noto-sans-kr-v27-korean-regular.woff2') format('woff2');}
@font-face { font-family: 'Noto Medium'; src: url('../fonts/noto-sans-kr-v27-korean-700.woff2') format('woff2');}
@font-face { font-family: 'Dream Medium'; src: url('../fonts/SCoreDream5.woff2') format('woff2');}